
<html>
  <body>
  <div class="image">
  
  <div class="card bg-dark text-white">
            <div class="card-body">
   
                   <h2 id='p1'>Learn & Discover</h2>
                   <div class="social-icon"> 
        <i class="fa fa-facebook" ></i>
        <i class="fa fa-google-plus" ></i>
        <i class="fa fa-twitter" ></i>
        <i class="fa fa-youtube" ></i>
        </div>
                  
  <nav class="navbar navbar-expand-sm  navbar-dark text-black">
    <!-- Links -->
     
    <ul class="navbar-nav">
      <li class="nav-item">
      <button type="button" class="btn btn-primary ">
          <a routerLink="QuestionList" class="nav-link" routerLinkActive="active">Question List</a></button>
      </li>
      <li class="nav-item">
         <button type="button" class="btn btn-primary ">
          <a routerLink="AddQuestion" class="nav-link" routerLinkActive="active">Add Question</a></button>
      </li>
      
      </ul>
      </nav>
     </div>
     </div>
    
    <router-outlet></router-outlet>
     
  </div>
  
  
  
  </body>
  </html>
    
  